---
---

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
  line-height: var(--spacing);
  background: var(--background);
  color: var(--text);
  transition: background var(--transition), color var(--transition);
}

footer a {
  color: var(--text) !important;
}

footer a:hover {
  color: var(--primary) !important;
}

footer .icon {
  font-size: var(--xl);
}
