<header class="ribbon">
  <a href="{{ "/" | relative_url }}" class="home" data-tooltip="Home">
    <span class="logo">
      <img src="{{ "images/cosi-logo-mid.svg" | relative_url | uri_escape }}" alt="cosilab logo">
    </span>
  </a>

  <input class="nav-toggle" type="checkbox" aria-label="show/hide nav">

  <nav>
    {% assign pages = site.pages
      | where_exp: "page", "page.nav"
      | sort: "nav.order"
    %}
    {% for page in pages %}
      {% if page.nav %}
        <a
          href="{{ page.dir | relative_url | uri_escape }}"
          data-tooltip="{{ page.nav.tooltip | xml_escape }}"
        >
          {{ page.title }}
        </a>
      {% endif %}
    {% endfor %}
  </nav>
</header>
