{% if include.lookup %}
  {% assign member = site.members
    | where_exp: "member", "member.slug == include.lookup"
    | first
  %}
{% else %}
  {% assign member = include %}
{% endif %}

{% assign type = site.data.types[member.role] %}

<div class="portrait-wrapper">
  <div class="portrait" data-style="{{ include.style }}">
    <img
      src="{{ member.image | relative_url | uri_escape }}"
      class="portrait-image"
      alt="member portrait"
      loading="lazy"
      {% include fallback.html %}
    >

    {% if member.name %}
      {% if member.link %}
        <a
          class="portrait-name"
          href="{{ member.link }}"
          target="_blank"
          rel="noopener"
        >{{ member.name }}</a>
      {% else %}
        <span class="portrait-name">{{ member.name }}</span>
      {% endif %}
    {% endif %}

    {% if member.description or type %}
      <span class="portrait-description">
        {{ member.description | default: type.description }}
      </span>
    {% endif %}

    {% if member.note %}
      <span class="portrait-note">{{ member.note }}</span>
    {% endif %}

    {% if member.affiliation %}
      <span class="portrait-affiliation">
        {{ member.affiliation }}
      </span>
    {% endif %}
  </div>
</div>
